.btn-tech{
	background-color: white;
	font-size: 0.7em;
	padding: 0.6em;
	margin: 2em 0.6em;
	border: 0.1em blueviolet solid;
	border-radius: 0.3em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif;
	transition-duration: 1ms;
	-webkit-transition-duration: 1ms;
	-moz-transition-duration: 1ms;
}

.btn-tech:hover{
	background-color: blueviolet;
	color: white;
}
